@use 'variaveis.scss';

@mixin subTitleH2() {
    color: variaveis.$corDoTitulo;
    text-align: center;
    padding: 8px;
    background: linear-gradient(to right, variaveis.$corDoPortal , transparent);
    font-size: 2.5em;
}

@mixin subTitleH3{
    font-size: 1.5em;
    padding: 10px;
    width: 70vw;
    margin: 10px auto;
    border-radius: 6px;
    background-color: variaveis.$corRoupaDoMorty;
}

@mixin imageSize() {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

@mixin textAbout() {
    text-indent: 6px;
    padding: 10px 20px;
    text-align: center;
    color: variaveis.$corRoupaDoRick;
}

@mixin desktopFlex {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: variaveis.$corDeFundo;
    margin: 0px 2px;
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.header {

    &__nav {
        background-color: variaveis.$corDeFundo;

            img {
                display: block;
                margin: 0px auto;
                padding: 10px;
            }

        ul {
            display: flex;
            justify-content: space-around;

            li {
                padding: 10px;

                a {
                    font-size: 2em;
                    text-decoration: none;
                    color: variaveis.$corRoupaDoRick;
                    padding: 8px;
                    

                    &:hover {
                        background-color: variaveis.$corDoPortal;
                        border-radius: 8px;
                        transition: ease 1s;
                    }
                }
            }
        }
    }
}

.sections__container {
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    width: 100vw;

    .sobre__rick {
        @include desktopFlex();
        

        &__container {
    
            h2 {
                @include subTitleH2()
            }
    
    
                img {
                    @include imageSize()
                }
            
                p {
                    @include textAbout
            }
        }
    }
    
    .sobre__morty {
        @include desktopFlex();
    
        &__container {
            
            h2 {

                @include subTitleH2()
            }
    
                img {
                    @include imageSize()
                }
            
                p {
                    @include textAbout()
                }
        }
    }
    
    .sobre__serie {
        @include desktopFlex();
    
        &__container {
    
            h2 {
                @include subTitleH2();
            }
                
    
                img {
                    @include imageSize();
                }
    
                p {
                    @include textAbout();
                }
        }
    }
}

.temporadas {

    h2 {
        @include subTitleH2();
        margin-top: 10px;
    }

    &__container {
        cursor: pointer;
        width: 70vw;
        margin: 0px auto;

        h3.-is--open {
            .arrow {
                transform: rotate(180deg);
            }
        }

        h3{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .arrow {
                display: inline-block;
                transition: transform 0.3s ease;
                width: auto;
                text-align: right;
            }

            @include subTitleH3()
        }

        &__item {
            
            display: none;
            .-is--open {
                display: block;
            }

            li {
                text-indent: 6px;
                width: 80vw;
                list-style: disc;
                margin: 0px 70px;
                padding: 10px 0px ;
            }
        }
    }
}

.watch {

    h2 {
        @include subTitleH2()
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        

        &__item {
            text-align: center;
            margin: 20px 0px;
            
            img {
                width: 300px;
                margin: 10px auto;
                display: block;
            }

            p {
                padding: 18px;

                a {
                    text-decoration: none;
                    color: variaveis.$corDoPortal;
                }
            }
        }
    }
}

.footer {
    margin-top: 30px;

    &__container {
        background-color: variaveis.$corDeFundo;
        padding: 10px;

        p {
            padding: 4px;
            text-align: center;
            font-size: small;
            color: variaveis.$corRoupaDoRick;

            span {
                color: variaveis.$corRoupaDoMorty;
                text-decoration: underline;
            }
        }

        &__links {
            display: block;
            text-align: center;
            margin-top: 10px;

            a {
                text-decoration: none;
    
                img {
                    width: 30px;
                    padding: 0px 4px;
                }
            }
        }
    }
}