@use 'variaveis.scss';

@mixin subTitleH2() {
    color: variaveis.$corDoTitulo;
    text-align: center;
    padding: 8px;
    background: linear-gradient(to right, variaveis.$corDoPortal , transparent);
    margin-top: 12px;
}

@mixin subTitleH3{
    padding: 10px;
    width: 80%;
    border-radius: 6px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: variaveis.$corRoupaDoMorty;
}

@mixin imageSize() {
    display: block;
    margin: 0px auto;
    width: 100vw;
}

@mixin textAbout() {
    text-indent: 6px;
    padding: 10px 20px;
    text-align: center;
    color: variaveis.$corRoupaDoRick;
}

@mixin corDeFundoSection() {
    margin-top: 20px;
    padding: 10px;
    background-color: variaveis.$corDeFundo;
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.header {

    &__nav {
        background-color: variaveis.$corDeFundo;

            img {
                display: block;
                margin: 0px auto;
                width: 250px;
                padding: 10px;
            }

        ul {
            display: flex;
            justify-content: space-around;

            li {
                padding: 10px;

                a {
                    font-size: 1.2em;
                    text-decoration: none;
                    color: variaveis.$corRoupaDoRick;
                }
            }
        }
    }
}

.sobre__rick {
    @include corDeFundoSection();

    &__container {
        h2 {
            @include subTitleH2()
        }

        img {
            @include imageSize()
        }

        p {
            @include textAbout()
        }
    }
}

.sobre__morty {
    @include corDeFundoSection();

    &__container {

        h2 {
            @include subTitleH2()
        }
    
        img {
            @include imageSize()
        }
    
        p {
            @include textAbout()
        }
    }
}

.sobre__serie {
    @include corDeFundoSection();

    &__container {

        h2 {
            @include subTitleH2()
        }
        
        img {
            @include imageSize()
        }

        p {
            @include textAbout()
        }
    }
}

.temporadas {

    h2 {
        @include subTitleH2()
    }

    &__container {
        max-width: 100%;
        width: 100%;

        h3.-is--open {
            .arrow {
                transform: rotate(180deg);
            }
        }

            h3{
                @include subTitleH3();
    
                    .arrow {
                        display: block;
                        transition: transform 0.3s ease;
                        width: auto;
                        text-align: right;
                    }
            }

        &__item {
            display: none;
            .-is--open {
                display: block;
            }

            li {
                text-indent: 6px;
                width: 330px;
                list-style: disc;
                margin: 0px 50px;
                padding: 10px 0px ;
            }
        }
    }
}

.watch {

    h2 {
        @include subTitleH2()
    }

    &__container {
        width: 300px;
        display: block;
        margin: 0px auto;
        

        &__item {
            text-align: center;
            margin: 16px 0px;
            
            img {
                width: 150px;
                margin: 10px auto;
                display: block;
            }

            p {

                a {
                    text-decoration: none;
                    color: variaveis.$corDoPortal;
                }
            }
        }
    }
}

.footer {
    margin-top: 30px;

    &__container {
        background-color: variaveis.$corDeFundo;
        padding: 10px;

        p {
            padding: 4px;
            text-align: center;
            font-size: small;
            color: variaveis.$corRoupaDoRick;

            span {
                color: variaveis.$corRoupaDoMorty;
                text-decoration: underline;
            }
        }

        &__links {
            display: block;
            text-align: center;
            margin-top: 10px;

            a {
                text-decoration: none;
    
                img {
                    width: 30px;
                    padding: 0px 4px;
                }
            }
        }
    }
}